{%extends 'base_2.html'%}

{%block titulo%}{{titulo}}{%endblock%}

{%block nav%}
<section class="depto fila dos-celdas">
<div class="celda ancho1 center">
	<h2 >{{request.user.get_depto}}</h2>
</div>
<div class="celda ancho1 center">
	<form action="/sgpc/{{request.user.get_depto_url}}/buscar/" method="post">{%csrf_token%}
	    <span style="color: black;" class="icon-search"></span>
		<input  type="text" placeholder="buscar pedido" name="busqueda" ></input>
		<input type="submit" value="Buscar" />
	</form>
</div>
</section>
<header>
<div class="menu_bar">
 	<a  class="bt-menu"><span class="icon-menu-list"></span>Menu</a>
</div>
<nav>
<ul >
	<li><a href="{{request.user.get_url_home}}"><span class="icon-home"></span>Inicio</a></li>
{%if request.user.es_admin%}
	<li><a href="/sgpc/cuentas/"><span class="icon-users"></span>Ver Usuarios</a></li>
{%endif%}
	<li><a href="/sgpc/{{user.get_depto_url}}/pedido/no_publicado/nuevo/"><span class="icon-price-tag"></span> Nuevo Pedido</a></li>
	<li><a href="/sgpc/{{user.get_depto_url}}/pedido/no_publicado/"><span class="icon-upload"></span>Pedidos no Publicados</a></li>
	<li><a href="/sgpc/{{user.get_depto_url}}/pedido/con_cotizaciones_ordenadas/"><span class="icon-checkmark"></span>Pedidos para comprar</a></li>
	{%if request.user.get_depto.id == 16%}
	<li><a href="/sgpc/{{user.get_depto_url}}/pedido/en_almacén/"> Retirar pedidos del almacén</a></li>
	{%endif%}
	<li><a href="/sgpc/{{user.get_depto_url}}/ver_seguimiento/"><span class="icon-map"></span>Ver seguimiento</a></li>
	{%if request.user.get_depto.id == 12%}
	<li><a href="/sgpc/{{user.get_depto_url}}/informes/"><span class="icon-menu"></span>Informes</a></li>
	{%endif%}
</ul>
</nav>
</header>
{%if reciente%}
<h2>Actividad Reciente</h2>
<ul>
{%for rec in reciente%}
	<li><a href="{{rec.url}}">{{rec.nombre}}</a></li>
{%endfor%}
</ul>
{%endif%}

<!-- <form method="post" action="/sgpc/{{request.user.get_depto_url}}/buscar/" >{%csrf_token%}
	<input type="text" name="busqueda" placeholder="Buscar" required />
	<input type="submit" value="Buscar" />
</form> -->

{%endblock%}