{%extends 'Genericas/base.html'%}

{%block titulo%}Nuevo{%endblock%}

{%block principal%}
<div >
<div >
<form method="post" class="form_estilo_1 ancho-var">{%csrf_token%}
	<h2>{%if h2%}{{h2}}{%else%}Crear{%endif%}</h2>
	{{form.as_p}}
	{%if value_input%}
	<input type="submit" value="{{value_input}}"></input>
	{%else%}
	<input type="submit" value="Crear"></input>
	{%endif%}
</form>
</div>
</div>
{%if calendar%}
<script type="text/javascript">
	window.onload = function() {
	$('#id_fecha').parent().addClass('p_fecha');
	$('#id_fecha').parent().append("<img src='/static/img/calendar.gif' id='selector' />");
	  Calendar.setup({
	    inputField: "id_fecha",
	    ifFormat:   "%d/%m/%Y",
	    button:     "selector"
	  });
	}
</script>
{%endif%}
{%endblock%}