{%extends 'base_2.html'%}

{%block titulo%}{{titulo}}{%endblock%}

{%block nav%}
{%if request.user.get_depto%}
<h2 >{{request.user.get_depto}}</h2>
{%else%}

{%endif%}
<ol class="menu"  style="margin-left: 30px;">
<h2 >Gestión</h2>
{%if request.user.es_admin%}
	<li><a href="/sgpc/cuentas/">Gestionar Usuarios</a></li>
{%endif%}
{%if request.user.es_root%}
	<li><a href="/sgpc/depto/lista/">Ver Departamentos</a></li>
	<li><a href="/sgpc/cuentas/">Gestionar Usuarios</a></li>
	<li><a href="#">Ver Estados</a></li>
	<li><a href="/sgpc/root/asociar/">Asociar Estados a Departamentos</a></li>
	<li><a href="#">Ver Transiciones</a></li>
	<li><a href="#">Ver Prioridades</a></li>
{%endif%}
</ol>
{%endblock%}