{%extends 'Root/base_root.html'%}

{%block titulo%}Asociar{%endblock%}

{%block principal%}
<nav>
{%if is_admin%}<a href="/sgpc/cuentas/">Ver Usuarios de {{depto}}</a>{%endif%}
</nav>
<section class="seccion_normal">
	<h2>Asociar 'Estados de pedido' a un Depto</h2>
	<form method="post" class="form_estilo_2"> {%csrf_token%}
		{{form.as_p}}
		<input type="submit" value="Ver Estados"></input>
	</form>
</section>
<section class="seccion_lista">
	<h3>Estados Asociados</h3>
	<ul>
	{%for est in est_asoc %}	
		<li>
			<form method="post"> {%csrf_token%}
				{{est.id}}. {{est}}
				<input type="hidden" name="id" value="{{est.id}}"></input>
				<input type="hidden" name="departamento" value="{{idDepto}}"></input>
				<input type="submit" value="Desasociar"></input>
			</form>
		</li>
	{%endfor%}
	</ul>
</section>
<section class="seccion_lista">
	<h3>Estados no Asociados</h3>
	<ul>
	{%for est in est_des %}
		<li>
			<form method="post"> {%csrf_token%}
				{{est.id}}. {{est}}
				<input type="hidden" name="id" value="{{est.id}}"></input>
				<input type="hidden" name="departamento" value="{{idDepto}}"></input>
				<input type="submit" value="Asociar"></input>
			</form>
		</li>
	{%endfor%}
	</ul>
</section>
{%endblock%}