{%extends 'base_2.html'%}

{%block titulo%}{{titulo}}{%endblock%}

{%block nav%}
<h2 class="contenido">{{request.user.get_depto}}</h2>
<ul class="menu contenido">
{%if request.user.es_admin%}
	<li><a href="/sgpc/cuentas/">Ver Usuarios</a></li>
{%endif%}
	<li><a href="/sgpc/depto/pedido/nuevo/">Nuevo Pedido</a></li>
	<li><a href="/sgpc/depto/pedido/no_publicado/">Pedidos no Publicados</a></li>
	<li><a href="/sgpc/depto/pedido/para_comprar/">Pedidos para comprar</a></li>
	<li><a href="#">Ver seguimiento</a></li>
</ul>
{%if reciente%}
<h2>Actividad Reciente</h2>
<ul>
{%for rec in reciente%}
	<li><a href="{{rec.url}}">{{rec.nombre}}</a></li>
{%endfor%}
</ul>
{%endif%}
{%endblock%}