/*ESTILOS PARA LOS PEDIDOS MOSTRADOS*/
#derecha{
  padding: 10px;
}
#datos_pedido, #datos_producto, #datos_cotizacion{
  border: 1px solid #b2b2ff;
  padding: 2px;
}
#datos_pedido h2{
  padding: 5px;
  background: #b2b2ff;
}
#datos_pedido ul, li{
  margin-left: 15px;
}

#datos_producto, #datos_cotizacion{
  border-top: none;
}
#datos_producto h2{
  padding: 5px;
  background: #b2b2ff;
}
#datos_producto ol{
  margin-left: 7px;
}
#datos_producto ol li{
  border-bottom: 1px solid #b2b2ff;
  padding-bottom: 3px;
  padding-top: 3px;
}
#datos_producto ol li:last-child{
  border-bottom: none;
}
#datos_cotizacion h2{
  padding: 5px;
  background: #b2b2ff;
}
#cotizacion{
  margin-left: 20px;
}
.cotizaciones{
  background-color: #f1f1f1;
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  padding: 3px;
}
#datos_cotizacion ol li{
  margin: 2px;
}
#l_prods_cotizados ol{
  margin-left: 30px;
  margin-bottom: 15px;
}
#l_prods_cotizados li{
  border-top: 1px solid #c1c1c1;
}

#cotizacion_elegida{
  border-radius: 3px;
  padding: 2px;
  color: white;
  background-color: #718171; 
}

/*FORMULARIO DE GESTION*/
.comment{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #4466aa;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.comment h3{
  color: white;
  background: #4466aa;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
}
#form_gestion form{
  width: 100%;
}
#form_gestion form p{
  border-bottom: 1px solid #a1a1a1;
  margin-bottom: 5px;
  padding-bottom: 5px; 
  display: block;
}
#form_gestion p{
  border-bottom: 1px solid #a1a1a1;
  margin-bottom: 5px;
  padding-bottom: 3px;
  display: block;
  text-align: center;
}
#form_gestion form select{
  display: block;
  margin: 0 auto;
}
#form_gestion form{
  text-align: center;
}

.comment textarea{
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.comment input{
  display: block;
  margin: 0 auto;
}

.titulo_pagina{
  text-align: center;
  background-color: #a1a1a1;
  display: inline-block;
}

/*BARRA DE DEPTO Y BÚSQUEDA*/
.depto{
  background-color: #125969;
  color: white;
  box-shadow: 0px 15px 15px #f00;
  margin-bottom: 1px;
}
.depto h2, form{
  display: inline-block;
}
.depto form{
  margin: 3px;
  background-color: white;
  border-radius: 5px;
}
.depto form input{
  padding: 0;
  margin: 0;
  border: white;
  background-color: white;
  border-radius: 5px;
  padding: 5px
}
.depto form input:first-child{
  width: 200px;
}
.depto form input:first-child:focus{
  width: 250px;
  outline:none;
  transition: all 0.15s ease-in-out;
}
.azul:focus {box-shadow: 0 0 5px rgba(0,0,255,1);border:1px solid rgba(0,0,255,0.8);}
/*FIN BARRA DE DEPTO Y BÚSQUEDA*/

.titulo_uno{
  color: #343434;
}

/*QUITANDO ESTILOS A LOS LINKS*/
#titulo_pedido{
  color: black;
  text-decoration: none;
}

/*BARRA SUPERIOR DE LA PAGINA*/
#barra_superior{
	background-color: #018888;
}
#logo img{
	display: block;
	width: 100px;
  margin-left: 5px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #999;
}

#logo img:hover {
    box-shadow: 5px 5px 10px #bbf;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.15s ease-in-out;
 }

#titulo{
	border: 1px solid #01999d;
	border-radius: 2px;
	display: inline-block;
	padding-left: 3px;
	padding-right: 3px;
	margin-right: 10px;
}
#titulo strong a{
	color: white;
	text-decoration: none;
}
#fila_superior{
	text-align: right;
	color: white;
}
#logueado{
	margin-right: 10px;
  display: block;
}
#logueado a{
	background-color: white;
	color: #01aaad;
	text-decoration: none;
	padding: 2px;
	border-radius: 2px;
}

#logueado a:hover{
text-decoration: underline;
}
/*FIN BARRA SUPERIOR DE LA PAGINA*/

/*ESTILO FORMULARIO*/
.form_estilo_1{
  border: 1px solid #00999d;;
  border-radius: 1px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
	text-align: center;
  padding-bottom: 5px;
}
.form_estilo_1 h2{
	width: 100%;
	background-color: #01999d;
	color: white;
	padding: 10px 0;
	margin-bottom: 15px;
}
.form_estilo_1 p{
	color: #007789;
	display: block;
	margin: 0 auto;
	padding: 0 15px;
}
.form_estilo_1 p *{
	box-sizing: border-box;
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 1px;
}
.form_estilo_1 p input{
	margin-bottom: 15px;
}
.form_estilo_1 p select{
  margin-bottom: 15px;
}
/*FIN DE UN ESTILO FORMULARIO*/

/*ESTILO BOTONES*/
.boton_estilo_1 {

	background-color: #01999d;
	border: 1px solid #017788;
	border-radius: 5px;
	color: white;
	display: block;
	font-size: 16px;
	margin: 0 auto;
	margin-bottom: 15px;
	width: 80px;
}

.boton_estilo_1:hover {
    text-decoration: underline;
    
    }

    /*FIN ESTILO BOTONES*/


 


/**/
footer{
	background-color: #335566;
	color: white;
	margin-top: 30px;


}
/*inicio de sesiion*/
  #bodylog {
  font-family: "Open Sans", sans-serif;
  height: 500px;
  background-image: url("/static/img/index.jpg");
  background-size: cover;
  margin-bottom: -25px;
}

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  max-width: 1500px; 
  padding: 20px;
  background: rgba(4, 40, 68, 0.85);
}

.login {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.login.loading button {
  max-height: 100%;
  padding-top: 50px;
}
.login.loading button .spinner {
  opacity: 1;
  top: 40%;
}
.login.ok button {
  background-color: #8bc34a;
}
.login.ok button .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  animation: none;
  transform: rotateZ(-45deg);
}
.login input {
  display: block;
  padding: 10px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #ccc;
}
.login select {
  display: block;
  padding: 10px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  
}

.login input + i.fa {
  color: #fff;
  font-size: 1em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.login input:focus {
  outline: none;
  color: #444;
  border-color: #2196F3;
  border-left-width: 35px;
}
.login input:focus + i.fa {
  opacity: 1;
  left: 30px;
  transition: all 0.25s ease-out;
}
.login a {
  font-size: 0.8em;
  color: #2196F3;
  text-decoration: none;
}
.login .title {
  color: #444;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  text-align: center;
}
.login  button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #2196F3;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}
.login button .spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 4px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.login:not(.loading) button:hover {
  box-shadow: 0px 1px 4px #2196F3;
}
.login:not(.loading) button:focus {
  border-bottom-width: 3px;
}

.errorlist{
  color:red;
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ff2222;
  text-align: justify;
  border-radius: 3px;
}
.errorlist li{
  margin: 0;
}

/*fin inicio de session*/

/*Barra de navegacion*/

 header {
width:100%;
}
 
 header nav {
width:100%;
max-width:2000px;
margin:0 auto;
background:#024959;
box-shadow: 0px 5px 5px #aaa

}
 
.menu_bar {
display:none;
}
 
 header nav ul {
overflow:hidden;
list-style:none;
}
 
 header nav ul li {
float:left;
}
 
header nav ul li a, h4{
color:#fff;
padding:15px;
display:block;
text-decoration:none;
border-right:1px solid rgba(255,255,255, .3);
border-radius: 4px;
vertical-align: middle;
}
header nav ul li a{
}
 
 header nav ul li span {
margin-right:10px;
}
 
 header nav ul li a:hover {
background:#037E8C;
}
 

 
@media screen and (max-width:800px ) {
header nav {
	width:50%;
	height:100%;
	left: -5%;
	margin:0;
	position: relative;
	min-width: 300px;
}
 header nav ul li {

		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#024959;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}
 
}

.seccion_lista{
  box-shadow: 5px 5px 10px #88a;
  border-radius: 5px;
  margin: 15px 10px;
  padding: 5px;
}
.seccion_lista ul{
}
.seccion_lista ul li{
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
.seccion_lista ul li:last-child{
  border-bottom: none;
}
.seccion_lista ol{
  margin-left: 5px;
}
.seccion_lista ol li{
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
.seccion_lista ol li:last-child{
  border-bottom: none;
}

.seccion_normal{
  margin: 10px;
  box-shadow: 0px 5px 5px #a1a1a1;
  padding: 10px;
}

.form_estilo_2{
  margin: 10px 0;
}
.form_estilo_2 input{
  display: inline-block;
}
.form_estilo_2 label{
  display: inline-block;
}
.form_estilo_2 p{
  display: inline-block;
}

.lista_comment{
  margin: 4px;
}
.lista_comment li{
  border-bottom: 1px solid #e1e1f1;
  margin-bottom: 5px;
  padding-bottom: 3px;
}
.lista_comment li p{
  padding: 3px 0;
}

.info{
  margin: 20px;
}
.info h2{
  text-shadow: 1px 1px 2px #555;
  margin-bottom: 5px;
}


#id_fecha{
  float: left;
  width: 90%;
}
#selector{
  float: right;
  width: 30px;
}
.p_fecha{
  vertical-align: middle;
}


.center{
  text-align: center;
}

