{%extends 'Deptos/base_depto.html'%}

{%block titulo%}Detalle{%endblock%}

{%block principal%}
	<h2>Asignar Renglones</h2>
	<table style="text-align: center;" border="1">
		</tr>
		<tr><td colspan="6"><h3>Productos</h3>
		</td></tr>
		<tr>
			<td colspan="4"><strong>Descripción</strong></td>
			<td><strong>Cantidad</strong></td>
			<td><strong>Renglón</strong></td>
		</tr>
		<form method="post">{%csrf_token%}
		{%for p in productos%}
		<tr>
			<td colspan="4">{{p.descripcion}}</td>
			<td>{{p.cantidad}}</td>
			<td>{{form.as_p}}</td>
			<input type="hidden" name="id" value="{{p.id}}" />
		</tr>
		{%endfor%}
		<tr><td colspan="6"><input type="submit" value="Guardar Renglon(es)" /></td></tr>
		</form>
	</table>
{%endblock%}