{%extends 'Deptos/base_depto.html'%}

{%block titulo%}Pedidos para comprar{%endblock%}

{%block principal%}

<h2>Pedidos para Comprar</h2>
<p>Se muestra el pedido y sus cotizaciones. Las cotizaciones
están ordenadas por prioridad. Se recomienda elegir la cotización con la prioridad más alta.</p>

{%if form_gestion%}
<form method="post">{%csrf_token%}
	<input type="hidden" name="id_cot" value="{{cotizacion.id}}" />
	{{form.as_p}}
	<input type="hidden" name="id" value="{{p.id}}" />
	<input type="submit" value="Guardar" />
</form>
{%else%}
<p>El pedido sólo se puede gestionar cuando se elija la cotización a comprar.</p>
{%endif%}

{%if object_list%}
<table border="1">
<tr>
	<td colspan="3"><h3>Pedido</h3></td>
</tr>
<tr>
	<td><strong>Justificación</strong></td>
	<td><strong>Fecha</strong></td>
	<td><strong>Usuario</strong></td>
</tr>
{%for p in object_list%}
<tr>

	<td><a href="{{p.id}}/">{{p.justificacion}}</a></td>
	<td>{{p.fecha}}</td>
	<td>{{p.usuario}}</td>
</tr>
{%endfor%}
</table>
{%else%}
<p>No hay pedidos sin publicar.</p>
{%endif%}
{%endblock%}