<!DOCTYPE html>
<html>
<head>
	<title>SGPC - {%block titulo%}{%endblock%}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="icon" type="image/png" href="/static/img/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/static/css/grid.css">
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/base2.css">
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/calendar-blue.css">
	<link rel="stylesheet" type="text/css" href="/static/css/calendario.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<script type="text/javascript" src="/static/js/calendar.js"></script>
    <script type="text/javascript" src="/static/js/calendar-es.js"></script>
    <script type="text/javascript" src="/static/js/calendar-setup.js"></script>
	<script type="text/javascript" src="/static/js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="/static/js/menu.js"></script>
	<script type="text/javascript" src="/static/js/calendario.js"></script>	
	<script type="text/javascript" src="/static/js/inserta_icono.js"></script>	

	{%block encabezado%}{%endblock%}
</head>
<body>

<div id="barra_superior" class="fila cuatro-celdas">
	<div id="logo" class="celda ancho1">
		<img src="/static/img/pedido-logo.png" clas="ancho1">
	</div>
	<div id="fila_superior" class="celda ancho3">
		<p id="titulo" style="font-size: 24px; margin-bottom: 35px;">
		<strong><a href="{{request.user.get_url_home}}">Sistema de Gestión de Pedidos de Compra</a></strong>
		</p>
{% if request.user.is_authenticated %}
		<p id="logueado">
		<strong>Usuario: </strong>{{ request.user }}
		<strong>Tipo: </strong>{{ request.user.get_tipo }}
		<a href="/sgpc/cuentas/salir/" class="logueado">Cerrar Sesión</a>
		</p>
{% endif %}
	</div>
</div>
{%block body%}{%endblock%}
<div style="margin-top: 30px;">
	<footer class="fila tres-celdas">
	<div class="celda ancho1">
		<p>SGPC</p>
		<p>Ingeniería del Software</p>
	</div>
	<div class="celda ancho2">
		<ul>
			<li>Carlos Caal Mendoza</li>
			<li>Brandon Guzmán De León</li>
			<li>Karin Hernández Pacheco</li>
		</ul>
	</div>
	</footer>
</div>
</body>
</html>
