{%extends 'Deptos/base_depto.html'%}

{%block titulo%}Comprar{%endblock%}

{%block principal%}
	<h2>Asignar Renglón Presupuestario</h2>
	<p><strong>Pedido: </strong> (DEPTO: {{pedido.get_depto}} - FECHA: {{pedido.fecha}})</p>
	<p><strong>Producto(s):</strong></p>
	<table>
		<tr><td>Descripcion</td><td>Cantidad</td><td>Precio</td><td>Total</td><td>Renglón</td></tr>
		{%for p in productos%}
		<tr>
		<td>{{p.producto.descripcion}}</td>
		<td>{{p.cantidad}}</td>
		<td>{{p.precio}}</td>
		<td>{{p.total}}</td>
		<td>
			{%if p.renglon%}
			{{p.renglon}}
			{%else%}
			<form method="post">{%csrf_token%}
			<input type="text" name="renglon" required />
			<input type="submit" value="Asignar" />
			</form>
			{%endif%}
		</td>
		</tr>
		{%endfor%}
		<tr><td colspan="3">TOTAL:</td><td>{{total}}</td></tr>
	</table>
	{%if all_renglon%}
	<form method="post">{%csrf_token%}
		<input type="hidden" name="id_pedido" value="{{pedido.id}}" />
		<input type="hidden" name="id_estado" value="3" />
		<input type="submit" value="Guardar los renglones" />
	</form>
	{%endif%}
{%endblock%}