{%extends 'GestionUser/index.html'%}

{%block titulo%}Nuevo Usuario{%endblock%}

{%block principal%}
{%if p%}<p>{{p}}</p>{%endif%}
{%if form%}
<body id="bodylog">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="/static/js/index.js"></script>
<script src="/static/js/prefixfree.min.js"></script>
<div class="wrapper fila una-celda">
<form method='post' class="login" class=" ancho1 ancho-var">{% csrf_token %}
	<p class="title">{{h1}}</p>
	{{form.as_p}}
	<button type='submit' ><span class="state">Registrar</span></button>
</form>
</div>
</body>
{%endif%}
{%endblock%}