{%extends 'GestionUser/index.html'%}

{%block titulo%}Eliminar Usuario{%endblock%}

{%block principal%}
<h2>¿Eliminar?</h2>
<p>Está seguro de eliminar al siguiente usuario:</p>
{%if usuario%}
<h3>{{usuario}}</h3>
<ul>
	<li><strong>Nombres: </strong>{{usuario.get_nombres}}</li>
	<li><strong>Apellidos: </strong>{{usuario.get_apellidos}}</li>
	<li><strong>Correo: </strong>{{usuario.get_correo}}</li>
	<li><strong>Departamento: </strong>{{depto}}</li>
	<form method="post"> {% csrf_token %} 
	<input name="id" type="hidden" value="{{usuario.id}}"></input>
	<input type="submit" value="Eliminar"></input></form>
</ul>
{%endif%}
{%endblock%}