{%extends 'Root/base_root.html'%}

{%block titulo%}Gestión de Usuarios{%endblock%}

{%block principal%}
<nav>
<a href="/sgpc/cuentas/eliminar/">Eliminar Usuarios</a>
<a href="/sgpc/cuentas/nueva/">Agregar Usuario</a>
</nav>
<h2>{{h1}}</h2>
{% if lista %}
	{% for l in lista %}
	<ol>
	<p>
		<h2>{{l.usuario}}</h2>
		<ul>
			<li><strong>Nombres: </strong>{{l.usuario.get_nombres}}</li>
			<li><strong>Apellidos: </strong>{{l.usuario.get_apellidos}}</li>
			<li><strong>Correo: </strong>{{l.usuario.get_correo}}</li>
			<li><strong>Departamento: </strong>{{l.depto}}</li>
			<li><strong>Tipo de Usuario: </strong>{{l.usuario.get_tipo}}</li>
		</ul>
	</p>
	</ol>
	{% endfor %}
{%else%}
<p>No hay usuarios registrados</p>
{% endif%}
{%endblock%}